@page
@model LogradouroModel
@{
    ViewData["Title"] = "Logradouros";
}

<h1>Logradouros</h1>

<p>
    <a asp-page="Create">Criar Novo Logradouro</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Logradouro</th>
            <th>Principal</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var logradouro in Model.Logradouros)
        {
            <tr>
                <td>@logradouro.Cliente.Nome</td>
                <td>@logradouro.LogradouroRuaAV</td>
                <td>@(logradouro.EnderecoPrincipal ? "Sim" : "Não")</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@logradouro.LogradouroID">Editar</a> |
                    <a asp-page="Delete" asp-route-id="@logradouro.LogradouroID">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
