@page
@model IndexModel
@{
    ViewData["Title"] = "Lista de Clientes";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Logotipo</th>
            <th>Logradouros</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model.Clientes.Items)
        {
            <tr>
                <td>@cliente.nome</td>
                <td>@cliente.email</td>
                <td class="logotipo"><img src="data:image;base64,@cliente.logotipo" alt="Logotipo" class="logotipo" /></td>
                <td>
                    @foreach (var logradouro in cliente.logradouros)
                    {
                        <p>@logradouro.endereco</p>
                    }
                </td>
                <td>                    
                    <a asp-page="./Editar" asp-route-id="@cliente.id">Editar</a> |
                    <a asp-page-handler="Excluir" asp-route-id="@cliente.id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-page="./Novo">Novo Cliente</a>

